{% extends 'layout.html.twig' %}

{% block title %} {{ 'state.form.title' |trans }} {% endblock %}

{% block body %}
    <div class="fos_user_user_profile container col-md-5">
        <div class="profile-title">
            <h3>{{ 'state.form.title'|trans }} {{ media.title }}</h3>
        </div>
        <div class="profile-form-edit">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="{{ 'btn.send'|trans }}" class="btn btn-xs btn-danger" />
            </div>
        </div>
    </div>
{% endblock %}