{% extends 'layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %} {{ app.user.username }} {% endblock %}

{% block body %}
    <div class="fos_user_user_profile container col-md-5">
        <div class="profile-title">
            <h3>{{ 'profile.personal_info'|trans({}, 'messages') }}</h3>
        </div>
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>

        <div class="panel_footer">
            <a class="btn btn-danger btn-xs" href="{{ path('fos_user_profile_edit') }}">
                {{ 'btn.edit_user_profile'|trans({}, 'messages') }}
            </a>
            <a class="btn btn-danger btn-xs" href="{{ path('fos_user_change_password') }}">
                {{ 'btn.change_user_password'|trans({}, 'messages') }}
            </a>
        </div>
    </div>

{% endblock %}
