{% extends 'layout.html.twig' %}

{% block title %} {{ person.name }} {% endblock %}

{% block body %}
    <div class="person-content container col-md-10 col-md-offset-1">
        <div class="person-big-title">
            <h3>{{ person.name }}</h3>
        </div>
        <div class="person-info">
            <div class="person-img col-md-2">
             <h3> <i class="fa fa-user fa-5x"></i></h3>
            </div>
            <ul class="person-information clearfix">
                <li><strong>{{ 'person.birthplace' |trans }}</strong> {{ person.birthplace }}</li>
                <li><strong>{{ 'person.age' |trans }}</strong> {{ person.age }}</li>
                <li><strong>{{ 'person.biography' |trans }}</strong> <br>{{ person.biography }}</li>
            </ul>
        </div>
        <div class="media-titles">
            {{ 'person.filmography' |trans }}
        </div>
        <div class="media-filmography container">
            {% for person in person.medias  %}
                <div class="media-container">
                    <div class="media-card">
                        <a href="{{ path("media", {'slug':person.slug}) }}">
                            <img src="{{ asset('/images/' ~ person.img) | imagine_filter('filmography') }}">
                        </a>
                    </div>
                    <div class="media-info">
                        <div class="media-title col-md-9">
                            <a href="{{ path("media", {'slug': person.slug}) }}">{{ person.title }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}