{% extends 'layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %} {{ app.user.username }} {% endblock %}

{% block body %}
    <div class="fos_user_user_profile container col-md-5">
        <div class="profile-title">
            <h3>{{ 'profile.personal_info'|trans({}, 'messages') }}</h3>
        </div>
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        {{ form_widget(form) }}
            <input type="submit" value="{{ 'profile.edit.submit'|trans }}" class="btn btn-xs btn-danger" />
            <a href="{{ path('fos_user_profile_show') }}" class="btn btn-xs btn-danger">{{ 'btn.back'|trans({}, 'messages') }}</a>

    </div>
{% endblock %}