{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="fos-reset container col-md-6 col-md-offset-2">
        <h2 class="form-signing-heading text-align-center"><i class="fa fa-television"></i>
            {{ 'login.company_name'|trans({}, 'messages') }}
        </h2>
        <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" method="POST">
            <h3>{{ 'resetting.text.enter_new_password'|trans  }}</br></h3>
            {{ form_widget(form) }}
            <div>
                <button class="btn_resetting_button btn btn-md btn-danger pull-right" type="submit">{{ 'resetting.reset.submit'|trans }}</button>
            </div>
        </form>
    </div>
{% endblock %}
