{% extends 'layout.html.twig' %}

{% block title %} {{ 'index.title'|trans }}{% endblock %}

{% block body %}
    {{ parent() }}

    {% include 'includes/carousel.html.twig' %}

    <div class="media-grid container-fluid">
        {% for media in medias %}
            <div class="media-container">
                <div class="media-card">
                    <a href="{{ path("media", {'slug': media.slug}) }}">
                        <img src="{{ asset('/images/' ~ media.image) | imagine_filter('media') }}">
                    </a>
                </div>
                <div class="media-info">
                    <div class="media-title">
                        <a href="{{ path("media", {'slug': media.slug}) }}">{{ media.title }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="paginator">
            {{ knp_pagination_render(medias) }}
        </div>
    </div>
{% endblock %}