{% extends 'layout.html.twig' %}

{% block title %} {{ selected.title }} {% endblock %}

{% block body %}
    <div class="media-options">
        <div class="media-image col-sm-2">
            <img id="ximage"  src="{{ asset('/images/' ~ selected.img) | imagine_filter('media') }}">
            <div id="media-actions">
                <div class="vote-media">
                    {% if vote is null %}
                        {{ render(controller('AppBundle:Vote:newVote',{'media': selected.id})) }}
                    {% else %}
                        {{ render(controller('AppBundle:Vote:editVote',{'media': selected.id, 'vote': vote.id})) }}
                    {% endif %}
                </div>
            </div>
            <div class="media-links">
                <hr>
                <i class="fa fa-play-circle"></i>
                <a target="_blank" href="{{ selected.trailer }}">{{ 'media.trailer' |trans }}</a>
                <hr>
            </div>
        </div>
        <div class="media-content col-sm-9">
            <div class="media-big-title">
                <h3>{{ selected.title }}</h3>
            </div>
            <div class="media-year">
                {{ selected.mediaType.name }} | {{ selected.year }} | {{ selected.gender.name }}
            </div>
            {% if selected.season %}
                {{ 'media.season' |trans }} {{ selected.season }}
            {% endif %}
            <div class="media-plot">
                {{ selected.plot }}
            </div>
            <div class="media-persons">
                <div class="media-titles">
                    {{ 'media.person-title'|trans }}
                </div>
                <div class="container-fluid">
                    {% for selected in selected.persons %}
                        <div class="container col-md-2">
                            <i class="fa fa-user fa-2x"></i><br>
                            <a href="{{ path('person_show', { 'slug':selected.slug} )  }}">{{ selected.name }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="media-comments">
                <div class="media-titles">
                    {{ 'media.comments' |trans }}
                </div>
                <div class="comments">
                    {{ render(controller('AppBundle:Comment:newComment',{'media': selected.id})) }}
                </div>
                {% for comments in comment %}
                    <div class="comment-text">
                        <div class="gravatar col-md-1">
                            <img class="avatar" src="{{ gravatar(comments.user.email) }}" />
                        </div>
                        {{ comments.user }}
                        {{ comments.publishedAt|date('d-m-Y H:i') }}
                        {% if is_granted('EDIT', comments) %}
                            <a href="{{ path('comment_edit', { 'id':comments.id, 'media': selected.id }) }}"
                               class="btn btn-xs btn-default">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a href="{{ path('comment_delete', { 'id':comments.id, 'media': selected.id }) }}"
                               class="btn btn-xs btn-default">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        {% endif %}
                        {%  if comments.editedAt is not null %}
                            <div id="commentEdited">
                                <span class="commentEdited label label-default">
                                   {{ 'label.edited' |trans }} {{ comments.editedAt|date('d-m-Y H:i') }}
                                </span>
                            </div>
                        {% endif %}

                        <div class="comment-content col-md-offset-1">
                            {{ comments.comment }}
                        </div>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}