<header id="header">
    <div id="headerLogo" class="container">
        <a href="{{ path('home') }}"><i class="logo fa fa-television fa-4x pull-left">kveo</i></a>
        <div class="search-box col-md-3">
            <form action="#" class="navbar-form">
                <div class="input-group">
                    <input type="Search" placeholder="{{ 'box.search'|trans }}" class="form-control" />
                    <div class="input-group-btn">
                        <button class="logo btn btn-default">
                            <span class="logo fa fa-search"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="user-profile pull-right">

            <div class="dropdown">
                <button class="btn btn-danger dropdown-toggle" type="button"
                        id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user"></i> {{ app.user.username }}
                    <span class="caret"></span>
                </button>
                <ul class="c dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-cog"></i>{{ 'user.profile'|trans }}</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"> <i class="fa fa-sign-out"></i>{{ 'user.logout'|trans }}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <nav class="productMenu navbar navbar-default no-margin" >
        <div class="navbar-header fixed-brand">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".sub">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="sub collapse navbar-collapse col-md-11">
            <ul class="nav navbar-nav">
                <li class="mainNav tab-movies col-md-2 ">
                    <a href="{{ path('catalog', { 'mediaType':2 }) }}">{{ 'menu.movies'|trans }}</a>
                </li>
                <li class="mainNav tab-movies col-md-2 ">
                    <a href="{{ path('catalog', { 'mediaType':3 }) }}">{{ 'menu.series'|trans }}</a>
                </li>
                <li class="mainNav tab-movies col-md-2 ">
                    <a href="{{ path('catalog', { 'mediaType':1 }) }}">{{ 'menu.documentaries'|trans }}</a>
                </li>
                <li class="mainNav tab-movies col-md-2 ">
                    <a href="{{ path('catalog', { 'mediaType':4 }) }}">{{ 'menu.programs'|trans }}</a>
                </li>
                <li class="mainNav tab-movies col-md-2 ">
                    <a href="#">{{ 'menu.tendencies'|trans }}</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
